In [37]:
import numpy as np 
import pandas as pd 

# modules for statistics 
import math 
import statistics 
from scipy import stats

In [25]:
# mean, median, mode, and central tendency 
mean = average, balance point = sum of all the numbers/ total number of values = arithmetic mean 
median = middle number, when the number are put in an order if there are 2 middle numbers find the average of the 2 numbers to find the median. 
mode = number that occurs the most often 
central tendency = a single value that attempts to describe the whole set of data. This number represents the middle or center of its distribution.

SyntaxError: invalid syntax (2553204213.py, line 2)

In [53]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

belize_df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [59]:
# get mean of the prive, minimum_nights, and number_of_reviews
belize_df[["price", "minimum_nights", "number_of_reviews"]].mean()

price                357.102289
minimum_nights         2.263948
number_of_reviews     14.453505
dtype: float64

In [35]:
# get median of the prive, minimum_nights, and number_of_reviews
belize_df[["price", "minimum_nights", "number_of_reviews"]].median()

NameError: name 'belize_df' is not defined

In [61]:
belize_df[["price", "minimum_nights", "number_of_reviews"]].mode()

   price  minimum_nights  number_of_reviews
0    151             1.0                0.0
1    252             NaN                NaN

In [ ]:
# varience 
def varience( data, ddof=0):
    n = len(data)
    mean = sum(data)/n
    varince =

In [63]:
# standard deviation

standard deviation is the square root of variance.

SyntaxError: invalid syntax (2163289624.py, line 3)

In [ ]:
# covariance and correlation 
 covariance is to correlation what variance is to standard deviation 
covariance tells us how much and to what extent two random variables chnage together. How much will one variable change as per