In [6]:
import pandas as pd

In [12]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [23]:
belize_df = pd.read_csv("belize_airbnb_listings.csv")
sorted_belize = belize_df.groupby("neighbourhood_group")
a=sorted_belize[["price"]].mean()
b=sorted_belize[["number_of_reviews"]].sum()
c=sorted_belize[["availability_365"]].max()
merged_belize = pd.merge(a,b, on="neighbourhood_group")
merged_belize = pd.merge(merged_belize,c, on="neighbourhood_group")
merged_belize

                          price  number_of_reviews  availability_365
neighbourhood_group
Belize               380.302414              27100               365
Cayo                 205.847525               7356               365
Corozal              156.553846                492               365
Orange Walk          122.035714                415               365
Stann Creek          471.119584               4855               365
Toledo               222.978723                194               365