In [3]:
# scales of measurement 
# nominal: categories that do not have a natural order 
# ordinal: categories where order matters but the difference between them is neither clear not even 
# interval: There is order and the difference between two values is meaningful 
# ratio: The same interval except it has a concept of 0. There are no negative numbers

In [11]:
import pandas as pd 
df_clothes = pd.DataFrame(data = [['blue','S', 20,'lemon shirt'],
                                  ['blue','M', 50,'jeans'],
                                   ['beige','M',7 , 'bucket hat']])
df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [ ]:
#very good for nominal values 
# where we want a number so it process faster 
# but the number doesnt mean anything
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_